CUVAbads.csv
CUVAdata.csv
CUVAsem.csv
CUVAmean_expenditures.csv
CUVAsegments.csv
CUVAshares_table.csv
CUVA_MeanExpenditures-PartyType.csv
CUVAbads_RAW.csv
CUVAbads_seg.csv
CUVAsem_RAW.csv
CUVA_Mean_reEntry-PartyVisit.csv
CUVA_Mean_reEntry.csv

