GATEbads.csv
GATEdata.csv
GATEsem.csv
GATEmean_expenditures.csv
GATEsegments.csv
GATEshares_table.csv
GATE_MeanExpenditures-PartyType.csv
GATEbads_RAW.csv
GATEbads_seg.csv
GATEsem_RAW.csv
GATElength_MEANS.csv
GATEparty_MEANS.csv
GATEsegment_SHARES.csv
GATEspending_MEANS.csv
